<div class="hero-unit">
  <h1><%= user_name %>'s Chatty</h1>
  <p>This site is an online payment service for <%= user_name %>. 
  Anyone can use this site to send bitcoins to <%= user_name %>.</p>
  <p>
  	<a href="#/bitcoin_addresses/new" class="btn btn-primary btn-large">
  	  Make a payment
  	</a>
  </p>
</div>  	  